#reciepttable{
  border: black 2px solid;
}
#reciepthead{
  background-color: #acffa1;
}
body{
background-color: #ffcffb;
}
#pworderror{
  color: red;
}

#shippingerror{
  color: red;
}
#total{
  color: lime;
  background: #cc8fc7;
}
